<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>
<HEAD>
<TITLE>Human.page</TITLE>
		<meta name="keywords" content="Human, Human Revolution, Anton Mizerak, Jeff Pevar">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../archive-theme.css">
</head>
<BODY BGCOLOR="#ffffff"BACKGROUND="pinsky2.jpg">
<header class="archive-header">
  <a class="archive-brand" href="../../index.html"><span class="archive-brand-mark">S</span><span>Shastasong<small>Mount Shasta, California</small></span></a>
  <nav class="archive-nav" aria-label="Main navigation">
    <a href="../../index.html#music">Music</a>
    <a href="../../index.html#events">Events</a>
    <a href="../Antons_bio/Antons_bio.html">Anton</a>
    <a href="../Laura_Berryhill_page/Laura_Berryhill_page.html">Laura</a>
    <a href="../Parvati_page/Parvati.html">Parvati</a>
    <a href="mailto:anton@shastasong.com">Contact</a>
  </nav>
</header>
<div class="archive-banner"><a href="../../index.html">Shastasong</a> <span> / Complete music, stories & resources</span></div>

<!-- Generation of PM publication page 1 -->

<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 LANG=en DIR=LTR WIDTH="759" COLS="16">
<!-- Some browsers do not display table correctly. --><!-- The following GIF images are here to work around the problem. -->
			<tr valign="TOP" align="LEFT" height="50">
				<td colspan="5" align="center" width="765" height="50"><B><I><font size="+4">Matthew Human</font></I></B></td>
			</tr>
			<tr valign="TOP" align="LEFT" height="71">
				<td colspan="5" align="center" width="765" height="71"><font size="+2">Anton Mizerak and Matthew Human met at the Colorado Rainbow gathering in 2006. They have been playing music together ever since. Anton plays harmonica and piano on various Human Revolution CDs and plays live with them in Northern California and Southern Oregon.</font></td>
			</tr>
			<tr valign="TOP" align="LEFT" height="944">
				<td colspan="5" align="center" width="765" height="944"><img src="Human.Revolution.jpg" alt="" width="1632" height="918" border="0"></td>
			</tr>
			<tr valign="TOP" align="LEFT" height="67">
				<td colspan="5" width="1632" height=67 align="center" valign="TOP"><font size="+5">Sam Frey ..... Anton Mizerak ..... Michael Saint John ..... Human ............. Jeff Pevar</font><font size="+2">        </font></td>
			</tr>
			<tr valign="TOP" align="LEFT" height="60">
				<td colspan="5" width="1632" height=60 align="center" valign="TOP"><font size="+2">Mount Shasta   July 9,  2014  Shasta Base Camp</font></td>
			</tr>
			<tr valign="TOP" align="LEFT" height="22">
				<td height=22 valign="TOP" width="106"></td>
				<td height=22 valign="TOP" width="162"></td>
				<td height=22 valign="TOP" width="21"></td>
				<td height=22 valign="TOP" width="233"></td>
				<td height=22 valign="TOP" width="243"></td>
			</tr>
			<TR VALIGN="TOP" ALIGN="LEFT" height="68">
				<TD COLSPAN=5 width="765" HEIGHT=68 VALIGN="TOP">
					<p></p>
				
					

			<TR VALIGN="TOP" ALIGN="LEFT" height="66">
				<TD COLSPAN=5 width="765" HEIGHT=66 VALIGN="TOP">
<P 
ALIGN="JUSTIFY">
					<p align="CENTER"><font size="+2"><a href="../index.html">Home Page</a><a href="../index_page/index.html"> </a>&nbsp; &nbsp; <a href="../Antons_bio/Antons_bio.html">Anton's Bio</a>&nbsp; &nbsp; <a href="../Antons_CDs/Antons_CDs.html">Anton's CDs </a>&nbsp;  <a href="../tour_page/tour_page.html">Tour Schedule   </a><a href="../ordering_info/ordering_info.html" target="_blank">Ordering info</a>&nbsp; &nbsp; <a href="http://www.thehumanrevolution.org/">Human Revolution</a></font></p>
					<div align="center">
						
					</div>
					<div align="center">
						
					</div>
			
			<TR VALIGN="TOP" ALIGN="LEFT" height="49">
<TD height="49" width="106">
				<TD COLSPAN=1 WIDTH=162 height="49"><IMG SRC="../Desert_Bloom_page/Desert.gif" WIDTH="124" HEIGHT="44">
				<td height=49 valign="TOP" width="21"></td>
				<TD HEIGHT=49 VALIGN="TOP" width="233">
					<P 
ALIGN="JUSTIFY">
					<p align="JUSTIFY"></p>
				<td width="243" height="49"></td>
		</TABLE>
<footer class="archive-footer">
  <div class="archive-footer-main"><div><h2>Shastasong</h2><p>Transformational music from Mount Shasta.</p></div>
  <div class="archive-footer-links"><a href="../Antons_CDs/Antons_CDs.html">Discography</a><a href="../tour_page/tour_page.html">Tour schedule</a><a href="../Youtube_Videos_Page/Youtube_Videos_Page.html">Videos</a><a href="../ordering_info/ordering_info.html">Order CDs</a><a href="mailto:anton@shastasong.com">Email Anton</a></div></div>
  <div class="archive-footer-bottom">© Shastasong · Mount Shasta, California</div>
</footer>
</body>
</HTML>